@font-face {
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    src: url("fonts/ofont.ru_Pixeloid Sans.ttf");
}

body {
    margin: 0;
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    background: #FFECF8;
    background-image: url(img/fon.png);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 3.54vw;
    /*68px*/
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(255, 45, 196, 0.50);
    margin: 0 auto;
}

.header__text {
    color: #000;
    text-align: center;
    text-shadow: 0.26vw 0.21vw 0.21vw rgba(0, 0, 0, 0.36);
    /*5px 4px 4px*/
    font-size: 2.08vw;
    /*40px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo {
    display: flex;
    flex-direction: row;
    gap: 1.04vw;
    /*20px*/
    margin-bottom: 3.54vw;
    /*68px*/
}

.promo__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.promo__title {
    color: #000;
    text-align: center;
    font-size: 2.08vw;
    /*40px*/
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo__text {
    color: #000;
    font-size: 1.15vw;
    /*22px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30.10vw;
    /*578px*/
    height: 4.06vw;
    /*78px*/
    background: #FF8686;
    box-shadow: 0vw 0.21vw 0.21vw 0vw rgba(0, 0, 0, 0.25);
    /*0px 4px 4px 0px*/
    margin-top: 1.67vw;
    /*32px*/
}

button {
    cursor: pointer;
    transition: background 9999999s;
}

button:active {
    /*делает кнопку зелёной, но спустя некоторое время возвращает её к исходному цвету*/
    background-color: rgb(184, 238, 102);
    transition: background 0s;
}

.promo__copy {
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    width: 30.10vw;
    /*578px*/
    height: 4.06vw;
    /*78px*/
    color: #000;
    background: #FF8686;
    text-align: center;
    font-size: 2.08vw;
    /*40px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__foto {
    display: flex;
    width: 19.79vw;
    /*380px*/
    height: 20.99vw;
    /*403px*/
    object-fit: cover;
    object-position: bottom;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.52vw;
    /*10px*/
    flex-direction: column;

    width: 100%;
    background: rgba(255, 45, 196, 0.50);

    color: #000;
    font-size: 0.83vw;
    /*16px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer p {
    margin: 0;
    text-align: center;
}

.footer__tel {
    text-decoration: none;
}