@font-face {
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    src: url("fonts/ofont.ru_Pixeloid Sans.ttf");
}


body {
    margin: 0;
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    background: #FFECF8;
    background-image: url(img/fon.png);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 4.25em;
    /*68px*/
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-shrink: 0;
    background: rgba(255, 45, 196, 0.50);
    margin: 0 auto;
}

.header__text {
    color: #000;
    text-align: center;
    text-shadow: 0.3125em 0.25em 0.25em rgba(0, 0, 0, 0.36);
    /*5px 4px 4px*/
    font-size: 2.5em;
    /*40px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
    /*20px*/
    margin-bottom: 4.25em;
    /*68px*/
}

.promo__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.promo__title {
    color: #000;
    text-align: center;
    font-size: 2.5em;
    /*40px*/
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.promo__text {
    color: #000;
    font-size: 1.375em;
    /*22px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36.125em;
    /*578px*/
    height: 4.875em;
    /*78px*/
    flex-shrink: 0;
    background: #FF8686;
    box-shadow: 0em 0.25em 0.25em 0em rgba(0, 0, 0, 0.25);
    /*0px 4px 4px 0px*/
    margin-top: 2em;
    /*32px*/
}

button {
    cursor: pointer;
    transition: background 9999999s;
}

button:active {
    /*делает кнопку зелёной, но спустя некоторое время возвращает её к исходному цвету*/
    background-color: rgb(184, 238, 102);
    transition: background 0s;
}

.promo__copy {
    font-family: "ofont.ru_Pixeloid Sans.ttf";
    width: 433.5pt;
    /*578px*/
    height: 58.5pt;
    /*78px*/
    color: #000;
    background: #FF8686;
    text-align: center;
    font-size: 2.5em;
    /*40px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.promo__foto {
    width: 23.75em;
    /*380px*/
    height: 25.1875em;
    /*403px*/
    flex-shrink: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.625em;
    /*10px*/
    flex-direction: column;

    width: 100%;
    background: rgba(255, 45, 196, 0.50);

    color: #000;
    font-size: 1em;
    /*16px*/
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer p {
    margin: 0;
    text-align: center;
}

.footer__tel {
    text-decoration: none;
}